// Grayscale
$black:       #120f02;
// $gray:        #484c51;
// $gray-medium: #787f87;
// $gray-light:  #f3f3f3;
// $light:       #f8fafc;
$cream:       #f4e9d7;
$white:       #fdfbf7;

// brand
$primary:       #6082bc;
$primary-light: #82b8d4;
$secondary:     #94a030;
$tertiary:      #e3b722;
$red:           #be4310;