// Grayscale
$black:       #120f02;
$gray:        #d9d8d3;
// $gray-medium: #787f87;
// $gray-light:  #f3f3f3;
// $light:       #f8fafc;
$cream:       #f4e9d7;
$white:       #fdfbf7;

// brand
$primary:       #6082bc;
$primary-light: #82b8d4;
$secondary:     #94a030;
$tertiary:      #e3b722;
$red:           #be4310;

.text-primary {
  color: $primary !important;
}

.text-primary-light {
  color: $primary-light !important;
}

.text-secondary {
  color: $secondary !important;
}

.text-tertiary {
  color: $tertiary !important;
}

.text-red {
  color: $red !important;
}

.text-gray {
  color: $gray !important;
}