// Grayscale
$black:       #120f02;
$gray:        #d9d8d3;
$cream:       #f4e9d7;
$white:       #fdfbf7;

// brand
$primary:       #6082bc;
$primary-light: #82b8d4;
$secondary:     #94a030;
$tertiary:      #e3b722;
$red:           #be4310;


.text-primary {
  color: $primary !important;
}

.text-primary-light {
  color: $primary-light !important;
}

.text-secondary {
  color: $secondary !important;
}

.text-tertiary {
  color: $tertiary !important;
}

.text-red {
  color: $red !important;
}

.text-gray {
  color: $gray !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-primary-light {
  background-color: $primary-light !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-tertiary {
  background-color: $tertiary !important;
}

.bg-red {
  background-color: $red !important;
}

.bg-gray {
  background-color: $gray !important;
}