html {
  box-sizing: border-box;
  font-size: 16px;
  background: $cream;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-moz-selection {
  background: $black;
  color: $white;
}

::selection {
  background: $black;
  color: $white;
}

body {
  position: relative;
  color: $black;
  background: $cream;
  font-family: $font-primary;
  font-size: 1rem;
  line-height: 1.3;
  width: 100vw;
  min-height: 100vh;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}