html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: $cream;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 24px;
  color: $black;
  background-color: $cream;
  font-family: $font-primary;
  font-size: 1rem;
  line-height: 1.3;
}




