@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/satoshi.woff2') format('woff2') tech('variations'),
      url('../fonts/satoshi.woff2') format('woff2-variations');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}

@font-face {
  font-family: 'Heming';
  src: url('../fonts/heming-regular.woff2') format('woff2'),
    url('../fonts/heming-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heming';
  src: url('../fonts/heming-light.woff2') format('woff2'),
    url('../fonts/heming-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heming';
  src: url('../fonts/heming-semibold.woff2') format('woff2'),
    url('../fonts/heming-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heming';
  src: url('../fonts/heming-bold.woff2') format('woff2'),
    url('../fonts/heming-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

$font-primary: 'Heming', sans-serif;
$font-secondary: 'Satoshi', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  letter-spacing: 0.015em;
}

h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.17;  
  

  @include bp(sm){
    font-size: 64px;
    line-height: 1.12;
  }
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;

  @include bp(md){
    font-size: 48px;
    line-height: 1.17;
  }
}

h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;

  @include bp(md){
    font-size: 40px;
    line-height: 1.2;
  }
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;

  @include bp(sm){
    font-size: 32px;
    line-height: 1.25;
  }
}

h5 {
  font-size: 24px;
  line-height: 1.33;
}

h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}

p,
li,
small,
a {
  font-family: $font-secondary;
  font-size: 1rem;
  line-height: 1.33;
  text-decoration: none;
  color: $black;
}

small {
  font-size: $base-unit * 0.8;
}

b {
  font-weight: 600;
}